/*FONTES*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');


/*CONFIGURAÇÕES GERAIS*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #161A27;
    padding-top: 4vw;
}

/*MENU PRINCIPAL*/

header a{
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
    text-transform: uppercase;
    list-style: none;
    font-weight: 400;
}

header img {
    width: 150px;
}

header li{
    list-style: none;
    margin-left: 25px;
}

header ul{
    display: flex;
}

header a:hover{
    text-decoration: underline;
    transition: 0.2s;
    opacity: 0.7;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    background-color: #1a1e2aec;
    height: 5vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}




/*HEADER*/
.infos-header{
    margin-top: 3%;
}

#hi-icon{
    background-color: #1D222D;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    height: 130px;
    margin-left: 7%;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.418);
}

#fullstack{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.418);
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: #1D222D;
    margin-left: 5%;
    position: initial;
}

#hi-icon span{
    font-size: 75px;
    margin-bottom: 1%;
    margin-left: 1%;
}

#hi-icon p{
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: bold;
}

#hi-icon .nome{
    font-size: 50px;
    font-weight: bold;
}

.infos-header button{
    background-color: transparent;
    border: 1px solid white;
    width: 200px;
    height: 40px;
    border-radius: 12px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-left: 80%;
    bottom: 40px;
}

.infos-header button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.infos-header button a{
    text-decoration: none;
    color: white;
}

.avatar{
    height: 550px;
    width: 550px;
    margin-left: 30%;
    margin-top: -100px;
    border-radius: 50%;
    background-color: #1D222D;
    text-align: center;
    background-image: url('./imagens//avatar.webp');
    background-repeat: no-repeat;
}

/*SKILLS*/

#skills{
    background-color: #10141E;
    position: static;
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    
}   

.my-skills{
    margin-top: 150px;
    margin-left: 100px;
    margin-bottom: 50px;
    width: 80%;
    
}

.my-skills h2{
    font-size: 52px;
    color: white;
    margin-left: 50px;
}

.my-skills p {
    font-size: 18px;
    margin-top: 20px;
    color: white;
}

.skills-img{
    margin-top: 120px;
    margin-bottom: 30px;
    
}

.skills-img img{
    width: 550px;   
}

.tecnologias{
    margin-top: 50px;
    width: 80%;
    margin-left: -50px;
    
}

.tecIcons{
    height: 120px;
    width: 120px;
    border-radius: 8px;
    margin-left: 50px;
    float: left;
    margin-bottom: 50px;
    border: 1px solid #ff6584;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tecIcons img{
    height: 100px;
    width: 100px;  
}

.clear{
    clear: both;
}

/*PROJETOS*/
#projects{
    margin-top: 80px;
    text-align: center;
}

#projects h2{
    color: white;
    font-size: 42px;
    margin-bottom: 50px;
}

.projeto-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}


.projeto-1 img {
    width: 900px;
    height: 506px;
    margin-left: 40px;
    border-radius: 20px;
}

.projeto-1 img:hover{
    opacity: 0.7;
    transition: 0.2s;
}

.especificacoes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    margin-right: 20px;
    justify-content: center;
}

.especificacoes h3, h4{
    color: #ff6584;
    font-size: 30px;
    margin-bottom: 20px;
}

.especificacoes p{
    color: white;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
}

.icone-tec{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-tec img{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-left: 30px;
    border: 1px solid #ff6584;
    border-radius: 10px;
    border-radius: 50px;
}


.especificacoes button{
    margin-top: 50px;
    width: 350px;
    color: #10141E;
    background-color: white;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    border: none;
}

.especificacoes button:hover{
    transform: scale(1.07);
    transition: 0.2s;
}


/*PROJETO 2*/

.projeto-2 img{
    width: 900px;
    height: 506px;
    padding-right: 50px;
    border-radius: 20px;
}

.projeto-2 img:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.img-mobile{
    display: none;
}
.projeto-2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.especificacoes-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}

.especificacoes-2 h3,
h4 {
    color: #ff6584;
    font-size: 30px;
    margin-bottom: 20px;
    
}

.especificacoes-2 p {
    color: white;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
    width: auto;
}

.icone-tec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-tec img {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-left: 30px;
    border: 1px solid #ff6584;
    border-radius: 10px;
    border-radius: 50px;
}

.especificacoes-2 button {
    margin-top: 50px;
    width: 350px;
    color: #10141E;
    background-color: white;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    border: none;
}

.especificacoes-2 button:hover {
    transform: scale(1.07);
    transition: 0.2s;
}


/*ME CONHEÇA*/


#about{
    background-color: #10141E;
    height: auto;
    padding-bottom: 50px;
}

#about h1{
    color: white;
    padding-top: 80px;
    font-size: 42px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.infos{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 30px;
}

.infos p{
    color: white;
    font-size: 18px;
    margin-right: 50px;
}

.infos img{
    width: 200px;
    height: 204px;
    float: right;
}

/*CONTATO*/

#contato{
    margin-top: 70px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

#contato h1{
    color: white;
    margin-bottom: 40px;
    font-size: 42px;
}

.contatos button{
    border: 1px solid #D93F21;
    background-color: transparent;
    color: #D93F21;
    font-size: 20px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-left: 30px;
}

.contatos button i{
    float: left;
    margin-left: 10px;
    font-size: 30px;
}

.contatos button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}




/*RESPONSIVIDADE*/

@media screen and (max-width: 768px) {
    body{
        max-width: 100%;
        overflow-x: hidden;
    }

    /*MENU*/
    nav{
        height: 90px;
    }

    header li{
        margin-left: 10px;
    }

    header img{
        display: none;
    }

    /*Header*/

    .infos-header{
        padding-top: 15%;
        max-width: 100%;
    }

    .avatar{
        display: none;
    }

    .infos-header button{
        margin-left: 65%;
        width: 150px;
        font-size: 16px;
    }

    #skills{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }

    .my-skills {
        margin-top: 10%;
        margin-left: 3%;
        margin-bottom: 5%;
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        
    }

    .my-skills h2 {
        font-size: 52px;
        color: white;
        margin-left: 0px;
    }

    .skills-img {
        margin-top: 5%;
        margin-bottom: 3%;
    }

    .skills-img img{
        width: 300px;
    }

    .tecnologias{
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: row wrap;
        margin-right: 0px;
        margin-left: 0px;
        overflow-x: auto;
    }

    .tecIcons {
        height: 100px;
        width: 100px;
        border-radius: 8px;
        margin-left: 10px;
        margin-bottom: 50px;
        border: 1px solid #ff6584;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .tecIcons img {
        height: 80px;
        width: 80px;
    }


    /*PROJETOS*/
    #projects {
        margin-top: 80px;
        text-align: center;
    }

    .projeto-1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        align-items: center;
    }


    .projeto-1 img {
        width: 400px;
        height: 225px;
        margin-left: 0px;
        margin-bottom: 10px;
        border-radius: 20px;
    }

    .especificacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
        margin-right: 8px;
        justify-content: center;
    }

    .especificacoes h3,
    h4 {
        color: #ff6584;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .especificacoes p {
        color: white;
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }

    .icone-tec {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icone-tec img {
        width: 50px;
        height: 50px;
        padding: 5px;
        margin-left: 30px;
        border: 1px solid #ff6584;
        border-radius: 10px;
        border-radius: 50px;
    }

    .projeto-2 img {
        width: 400px;
        height: 225px;
        margin-left: 60px;
        margin-bottom: 10px;
        border-radius: 20px;
    }

    .projeto-2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        align-items: center;
    }

    .especificacoes-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
        margin-right: 8px;
        justify-content: center;
    }

    .especificacoes-2 h3,
    h4 {
        color: #ff6584;
        font-size: 30px;
        margin-bottom: 20px;

    }

    .especificacoes-2 p {
        color: white;
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }

    .icone-tec img {
        width: 50px;
        height: 50px;
        padding: 5px;
        margin-left: 30px;
        border: 1px solid #ff6584;
        border-radius: 10px;
        border-radius: 50px;
    }

    .img-pc {
        display: none;
    }

    .img-mobile {
        display: flex;
    }



    /*ME CONHECA*/

    #about {
        background-color: #10141E;
        height: auto;
        padding-bottom: 50px;
        text-align: center;
    }

    .infos {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 30px;
    }

    .infos p {
        color: white;
        font-size: 16px;
        margin-right: 50px;
    }

    .infos img {
        display: none;
    }



    /*CONTATO*/

    #contato {
        margin-top: 70px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .contatos {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contatos button{
        margin-top: 20px;
    }
}